RewriteEngine On
RewriteBase /user6/bookShop/server/api/booktoauthor/
#RewriteBase /~user6/bookShop/server/api/booktoauthor/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php
DirectoryIndex index.php
