RewriteEngine On
#RewriteBase /user6/bookShop/server/api/cart/
RewriteBase /~user6/bookShop/server/api/cart/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php
DirectoryIndex index.php
