RewriteEngine On
RewriteBase /user6/bookShop/server/api/booktogenre/
#RewriteBase /~user6/bookShop/server/api/booktogenre/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php
DirectoryIndex index.php
